<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <span>
    <table>
      <tr>
        <a href="admin">Contact Us</a>
        <th>
          <a routerLink="contact">Contact Us</a>
        </th>
        <th>
          <input type="text" name="txtUserdata" #txtUserdata>&nbsp;&nbsp;
          <input type="button" (click)="setValue(txtUserdata.value)" value="send user">&nbsp; {{userData}}
        </th>


    </table>


  </span>

  <div class="main">
    <app-user [userdata]="passdata" (parentcomponent)="parentcomponent($event)"></app-user>
    <router-outlet></router-outlet>
   <app-pipepractice></app-pipepractice>
  </div>
</body>

</html>