<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <span>
    <table>
      <tr>
        <th>
          <a routerLink="user"> User Data</a>
        </th>
        <th>
          <a routerLink="admin">Admin Data</a>
        </th>
        <th>
          <a routerLink="about">About</a>
        </th>
        <th>
          <a routerLink="contact">Contact Us</a>
        </th>
        <th>
          <a routerLink="home">Home</a>
        </th>
        
    </table>


  </span>
  <router-outlet></router-outlet>
</body>

</html>